@model IEnumerable<TEST1.Models.Product>

@{
    ViewData["Title"] = "Ürünler";
}

<h1>Ürünler</h1>

<p>
    <a asp-action="Create">Yeni Ürün Oluştur</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Arama: <input type="text" name="searchKeyword" value="@ViewData["CurrentSearchKeyword"]" />
            Min Stok: <input type="number" name="minStock" value="@ViewData["CurrentMinStock"]" />
            Max Stok: <input type="number" name="maxStock" value="@ViewData["CurrentMaxStock"]" />
            <input type="submit" value="Ara" class="btn btn-default" /> |
            <a asp-action="Index">Tümünü Göster</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

